<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>表单控件绑定</title>
	<script src="./lib/vue.js"></script>
</head>
<body>
	<div id="app">
		<span>Message is: {{ message }}</span>
		<br>
		<input type="text" v-model="message" placeholder="edit me">
		<br>
		<textarea cols="20" rows="2" v-model="message"></textarea>
		<br>
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{ checked }}</label>
		<br>
		<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
		<label for="jack">Jack</label>
		<input type="checkbox" id="john" value="John" v-model="checkedNames">
		<label for="john">John</label>
		<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
		<label for="mike">Mike</label>
		<br>
		<span>Checked names: {{ checkedNames | json }}</span>
		<br>
		<input type="radio" id="one" value="One" v-model="picked">
		<label for="one">One</label>
		<br>
		<input type="radio" id="two" value="Two" v-model="picked">
		<label for="two">Two</label>
		<br>
		<span>Picked: {{ picked }}</span>
		<br>
		<select v-model="selected" multiple>
			<option  v-for="option in options" v-bind:value="option.value">{{option.text}}</option>
	
		</select>
		<span>Selected: {{ selected }}</span>
	</div>
	<script>
	 new Vue({
	 	el:'#app',
	 	data:{
	 		message : '',
	 		checked:false,
	 		checkedNames:[],
	 		picked:'',
	 		selected:'A',
	 		options:[{text:'one',value:'A'},{text:'two',value:'B'},{text:'three',value:'C'}]
	 	}
	 })
	</script>
</body>
</html>